# Build files
/bd18398-demo.cydsn/CortexM3/
/bd18398-demo.cydsn/*.log
/bd18398-demo.cydsn/*.cycdx
/bd18398-demo.cydsn/*.cyfit
/bd18398-demo.cydsn/*.html
/bd18398-demo.cydsn/*.svd
/bd18398-demo.cydsn/*.rpt
/bd18398-demo.cydsn/ComponentUpdateLog.txt

# Generated code
/bd18398-demo.cydsn/Generated_Source/
/bd18398-demo.cydsn/codegentemp/

# Unnecessary IDE files
/bd18398-demo.cydsn/Export/
/bd18398-demo.cydsn/Backup/

# Developer-specific IDE configuration files
/bd18398-demo.cydsn/*.cywrk.*
/bd18398-demo.cydsn/*.cyprj.*
